<!DOCTYPE html>
<head>
    <title>
        Group Project API
    </title>
    <link rel="stylesheet" href="/static/stylesheets/styles.css" type="text/css" />
    <script></script>
</head>
<body>
    <div class="container">
        <h2>
            <%= data.Title %> 
        </h2>
        <p>
            <%= data.Year %> 
            <br>
            <%= data.Rated %> 
            <br>
            <%= data.Released %> 
            <br>
            <%= data.Runtime %> 
            <br>
            <%= data.Genre %> 
            <br>
            <%= data.Director %> 
            <br>
            <%= data.Plot %> 
            <br>
            <%= data.Language %> 
            <br>
            <%= data.Country %> 
            <br>
            <%= data.Awards %> 
            <br>
            <img align= "left" src="<%= data.img %>" alt="<%= data.alt %>" width="300" height="300"  /> 
        </p>
    </div>
</body>