<!DOCTYPE html>
<head>
    <title>
        Group Project API
    </title>
    <link rel="stylesheet" href="/static/stylesheets/styles.css" type="text/css" />
    <script></script>
</head>
    <!-- <center>
        <img src="public/stylesheets/images/OMDB.png" width="300" height="150" />
    </center> -->
<br>
<body>
    <div class="container-1">
        <center>
            <h1>RANDOM MOVIE GENERATOR</h1>
        </center>
    </div>
    <br>
    <div class="container">
        <% if(typeof data =='object' && (data.Title > ' ')) { %>
        <img align= "left" src="<%= data.Poster %>" alt="<%= data.alt %>" class="responsive"  /> 
        <br>
        <h2>
            <%= data.Title %>
        </h2>
        <p>
            <b>_____________________________________________________________________</b>
            <center>
            <b>Year Released:</b>
            <%= data.Year %> 
            <br>
            <b>Rated:</b>
            <%= data.Rated %> 
            <br>
            <b>Date Released:</b>
            <%= data.Released %> 
            <br>
            <b>Runtime:</b>
            <%= data.Runtime %> 
            <br>
            <b>Genre:</b>
            <%= data.Genre %> 
            <br>
            <b>Director:</b>
            <%= data.Director %> 
            <br>
            <b>Movie Plot:</b>
            <br>
            <%= data.Plot %> 
            <br>
            <b>Language:</b>
            <%= data.Language %> 
            <br>
            <b>Country:</b>
            <%= data.Country %> 
            <br>
            <b>Awards:</b>
            <%= data.Awards %> 
            <br>
            </center>
        </p>
        <a href="#" class="button" onClick="window.location.reload();">Generate New Movie/Show</a>
        <% } else{ %>  
            <script>
                location.reload(true/false);
                </script>
            <% } %>
    </div>
</body>