<!DOCTYPE html>
<head>
    <title>
        SSWD Group Project - Demo
    </title>
    <link rel="stylesheet" href="/static/stylesheets/styles.css" type="text/css" />
    <script></script>
</head>
<body>
    <div class="container">
        <h2>
            <%= data.Title %> 
            <%= data.Year %> 
        </h2>
        <p>
            <%= data.Rated %> 
            <%= data.Released %> 
            <%= data.Runtime %> 
            <%= data.Genre %> 
            <%= data.Director %> 

            <%= data.Plot %> 
            <%= data.Language %> 
            <%= data.Country %> 
            <%= data.Awards %> 
            <%= data.Poster %>  
        </p>
    </div>
</body>